[Unit]
Description=MySQL Watchdog

[Service]
ExecStartPre=-/bin/fuser -k 3308/tcp
ExecStart=/usr/local/sbin/mysql_watchdog.py --max_time=%i
ExecStopPost=-/bin/fuser -k 3308/tcp
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
